.header.desktop {
	background-color: rgb(47, 43, 39);
	background-image: radial-gradient(
		circle,
		rgba(47, 43, 39, 1) 0%,
		rgba(42, 38, 35, 1) 40%,
		rgba(0, 0, 0, 1) 100%
	);
	min-height: 600px;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	transition: background-color 2s;

	.video {
		width: 100%;
		// position: absolute;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		// z-index: 2;
	}

	.my-container {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.carousel-animals {
			display: flex;
			height: 0px;
			opacity: 0;
			width: 100%;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			transition: height 0.8s;

			.carousel-animal-item {
				display: flex;
				height: 100%;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 0 10px;
				position: relative;
				z-index: 1;
				background-size: cover;
				background-position: center;
				transition: transform $transitionTime;
				width: 100%;
				max-width: 250px;
				box-shadow: 0px 3px 40px 0px rgba(86, 70, 55, 0.5);
				max-height: 450px;

				.carousel-overlay {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(255, 255, 255, 0.5);
					transition: background-color $transitionTime;
				}

				.animal-label {
					opacity: 0;
					position: absolute;
					left: 50%;
					top: 70%;
					background-color: $color-orange;
					color: white;
					transition: opacity $transitionTime;
					transform: translate(0%, -50%);
					overflow: hidden;
					padding: 15px;

					.title {
						text-transform: uppercase;
						font-weight: bold;
						font-size: 38px;
						line-height: 1.2;
						text-align: center;
					}
					.description {
						font-weight: bold;
						font-size: 9px;
						line-height: 1.2;
						text-align: center;
						text-transform: uppercase;
					}
				}
				&.active {
					z-index: 2;
					// max-height: none;
					transform: scale(1.3);
					.carousel-overlay {
						background-color: rgba(0, 0, 0, 0);
					}
					.animal-label {
						opacity: 1;
					}
				}

				&:last-child {
					.animal-label {
						transform: translate(-100%, -50%);
					}
				}
			}
		}
	}
}

.header.mobile {
	background-color: rgb(47, 43, 39);
	background-image: radial-gradient(
		circle,
		rgba(47, 43, 39, 1) 0%,
		rgba(42, 38, 35, 1) 40%,
		rgba(0, 0, 0, 1) 100%
	);
	min-height: 600px;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	transition: background-color 2s;

	.video {
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
	}

	.my-container {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0;

		.carousel-mobile {
			overflow-x: auto;
			display: flex;
			flex-direction: row;
			width: 100%;
			white-space: nowrap;
			align-items: center;
			margin-top: 50px;

			.carousel-mobile-item {
				display: block;
				height: 60vh;
				max-height: 800px;
				min-width: 160px;
				margin: 0 10px;
				position: relative;

				.btn-play-video-container {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 200px;
					background: transparent;
					z-index: 4;

					.btn-play-video {
						position: absolute;
						bottom: 50px;
						left: 50%;
						transform: translate(-50%, 0%);
						z-index: 5;
					}
				}
				

				.carousel-animal-item {
					display: block;
					height: 100%;
					position: relative;
					z-index: 1;
					background-size: cover;
					background-position: center;
					transition: transform $transitionTime;
					width: 100%;

					.carousel-overlay {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(255, 255, 255, 0.5);
						transition: background-color $transitionTime;
					}

					.animal-label {
						display: none;
						position: absolute;
						left: 10%;
						top: 5%;
						background-color: $color-orange;
						color: white;
						padding: 15px;

						.title {
							text-transform: uppercase;
							font-weight: bold;
							font-size: 36px;
							line-height: 1.2;
							text-align: center;
						}

						.description {
							font-weight: bold;
							font-size: 8px;
							line-height: 1.2;
							text-align: center;
							text-transform: uppercase;
						}
					}
				}

				&.active {
					height: 75vh;
					max-height: 900px;
					min-width: 200px;

					.btn-play-video-container {
						background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
					}

					.carousel-animal-item {
						z-index: 2;
						.carousel-overlay {
							background-color: rgba(0, 0, 0, 0);
						}
						.animal-label {
							display: block;
						}
					}
				}
			}
		}
	}
}
