#modal-video {
    .modal-dialog {
        // height: auto;

        .modal-content {
            height: auto;
            min-height: 340px;

            .close {
                margin-bottom: 5px;
            }

            .modal-body {
                height: 100%;

                padding: 5px;
            }
        }
    }
}