<meta name="title" content="La SPA - Contre l'abandon" />
<meta name="description" content="Un animal qui arrive  à la SPA est un survivant de l’abandon. Luttons contre ce véritable parcours du combattant (dénutrition, violences, stress, froid...) et soutenez la SPA pour leur offrir une seconde chance." />
<meta name="image" content="@@webRoot/assets/img/meta-image.png"/>
<meta name="url" content="https://contrelabandon.la-spa.fr"/>

<meta property="og:title" content="La SPA - Contre l'abandon">
<meta property="og:description" content="Un animal qui arrive  à la SPA est un survivant de l’abandon. Luttons contre ce véritable parcours du combattant (dénutrition, violences, stress, froid...) et soutenez la SPA pour leur offrir une seconde chance.">
<meta property="og:image" content="@@webRoot/assets/img/meta-image.png">
<meta property="og:url" content="https://contrelabandon.la-spa.fr">