<footer class="footer">
	<div class="my-container">
		<span class="mr-2">Partager : </span>
		<div class="link">
			<a href="whatsapp://send?text=https://contrelabandon.la-spa.fr"><img src="@@webRoot/assets/img/phone.png" /></a>
			<a href="https://www.facebook.com/sharer.php?u=https://contrelabandon.la-spa.fr"><img src="@@webRoot/assets/img/facebook.png" /></a>
			<a href="https://twitter.com/share?url=https://contrelabandon.la-spa.fr"><img src="@@webRoot/assets/img/twitter.png" /></a>
			<a href="#" class="js-toggle" data-target="#moreFooter"><img src="@@webRoot/assets/img/3dots.png" /></a>
		</div>
		<div id="moreFooter">
			<div class="link">
				<a href="https://donateur.la-spa.fr/">Espace personnel</a>
				<a href="https://www.la-spa.fr/mentions-legales" class="orange">Mentions légales</a>
				<a href="https://www.la-spa.fr/aide-contact/contactez-nous">Contact</a>
			</div>
		</div>
	</div>
</footer>
