<footer class="footer d-none d-md-block">
	<div class="my-container">
		<span class="mr-2">Partager : </span>
		<div class="link">
			<a target="_blank" href="whatsapp://send?text=https://contrelabandon.la-spa.fr"><img class="zoomOnHover" src="@@webRoot/assets/img/whatsapp.svg" /></a>
			<a target="_blank" href="https://www.facebook.com/sharer.php?u=https://contrelabandon.la-spa.fr"><img class="zoomOnHover" src="@@webRoot/assets/img/facebook.svg" /></a>
			<a target="_blank" href="https://twitter.com/share?url=https://contrelabandon.la-spa.fr"><img class="zoomOnHover" src="@@webRoot/assets/img/twitter.svg" /></a>
			<a href="#" class="js-toggle" data-target="#moreFooter"><img class="zoomOnHover" src="@@webRoot/assets/img/3dots.svg" /></a>
		</div>
		<div id="moreFooter">
			<div class="link">
				<a target="_blank" href="https://donateur.la-spa.fr/">Espace personnel</a>
				<a target="_blank" href="https://www.la-spa.fr/mentions-legales" class="orange">Mentions légales</a>
				<a target="_blank" href="https://www.la-spa.fr/aide-contact/contactez-nous">Contact</a>
			</div>
		</div>
	</div>
</footer>
