<header class="header desktop d-none d-md-block">
    <video autoplay muted class="video">
        <source src="https://d1qmdf3vop2l07.cloudfront.net/fine-ice.cloudvent.net/compressed/_min_/2811bf2f31e2f62696e83b628aeaf508.mp4" type="video/mp4" />
    </video>
    <div class="my-container container">
        <div class="carousel-animals">
            @@include('_carousel-animal.html', {
                odd: false,
                img: '@@webRoot/assets/img/carousel-animal-1.png',
                title: 'L\'abandon',
                description: 'Le début D’UNE LONGUE SÉRIE DE SOUFFRANCES !',
                defaultActive: true,
                url: '/animal/1.html'
            })
            @@include('_carousel-animal.html', {
                odd: true,
                img: '@@webRoot/assets/img/carousel-animal-2.png',
                title: 'Vanille',
                url: '/animal/2.html'
            })
            @@include('_carousel-animal.html', {
                odd: false,
                img: '@@webRoot/assets/img/carousel-animal-3.png',
                title: 'Rose',
                url: '/animal/3.html'
            })
            @@include('_carousel-animal.html', {
                odd: true,
                img: '@@webRoot/assets/img/carousel-animal-4.png',
                title: 'Stella',
                url: '/animal/4.html'
            })
            @@include('_carousel-animal.html', {
                odd: false,
                img: '@@webRoot/assets/img/carousel-animal-5.png',
                title: 'Octavia',
                url: '/animal/5.html'
            })
        </div>
    </div>
</header>

<header class="header mobile d-md-none d-block">
    <div class="my-container container">

        <div class="carousel-mobile">
            <div class="carousel-mobile-item 1 active">
                @@include('_carousel-animal.html', {
                    odd: false,
                    img: '@@webRoot/assets/img/carousel-animal-1.png',
                    title: 'L\'abandon',
                    description: 'Le début D’UNE LONGUE SÉRIE DE SOUFFRANCES !',
                    url: '/animal/1.html',
                    isVideo: true
                })
            </div>
            <div class="carousel-mobile-item 2">
                @@include('_carousel-animal.html', {
                    odd: true,
                    img: '@@webRoot/assets/img/carousel-animal-2.png',
                    title: 'Vanille',
                    url: '/animal/2.html'
                })
            </div>
            <div class="carousel-mobile-item 3">
                @@include('_carousel-animal.html', {
                    odd: false,
                    img: '@@webRoot/assets/img/carousel-animal-3.png',
                    title: 'Rose',
                    url: '/animal/3.html'
                })
            </div>
            <div class="carousel-mobile-item 4">
                @@include('_carousel-animal.html', {
                    odd: true,
                    img: '@@webRoot/assets/img/carousel-animal-4.png',
                    title: 'Stella',
                    url: '/animal/4.html'
                })
            </div>
            <div class="carousel-mobile-item 5">
                @@include('_carousel-animal.html', {
                    odd: false,
                    img: '@@webRoot/assets/img/carousel-animal-5.png',
                    title: 'Octavia',
                    url: '/animal/5.html'
                })
            </div>
        </div>

    <!-- Swiper -->
    <div class="swiper-container d-none">
        <div class="swiper-wrapper carousel-animals">
            <div class="swiper-slide" style="width: 100%">
                @@include('_carousel-animal.html', {
                    odd: false,
                    img: '@@webRoot/assets/img/carousel-animal-1.png',
                    title: 'L\'abandon',
                    description: 'Le début D’UNE LONGUE SÉRIE DE SOUFFRANCES !',
                    defaultActive: true,
                    url: '/animal/1.html'
                })
            </div>
            <div class="swiper-slide" style="width: 100%">
                @@include('_carousel-animal.html', {
                    odd: true,
                    img: '@@webRoot/assets/img/carousel-animal-2.png',
                    title: 'Vanille',
                    url: '/animal/2.html'
                })
            </div>
            <div class="swiper-slide" style="width: 100%">
                @@include('_carousel-animal.html', {
                    odd: false,
                    img: '@@webRoot/assets/img/carousel-animal-3.png',
                    title: 'Rose',
                    url: '/animal/3.html'
                })
            </div>
            <div class="swiper-slide" style="width: 100%">
                @@include('_carousel-animal.html', {
                    odd: true,
                    img: '@@webRoot/assets/img/carousel-animal-4.png',
                    title: 'Stella',
                    url: '/animal/4.html'
                })
            </div>
            <div class="swiper-slide" style="width: 100%">
                @@include('_carousel-animal.html', {
                    odd: false,
                    img: '@@webRoot/assets/img/carousel-animal-5.png',
                    title: 'Octavia',
                    url: '/animal/5.html'
                })
            </div>
        </div>
         <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</header>