<header class="header desktop d-none d-md-block">
    <div class="video-container" data-url="@@webRoot/assets/img/video-compressed.mp4">

        <div class="video-preview-container">
            <img class="preview-img" src="@@webRoot/assets/img/video-preview.jpg"/>
            <div class="btn-play-video-container">
                <img src="@@webRoot/assets/img/btn-play-video.svg" class="btn-play-video"/>
            </div>
        </div>

    </div>
    <div class="my-container container">
        <div class="carousel-animals">
            @@include('_carousel-animal.html', {
                odd: false,
                img: '@@webRoot/assets/img/1.png',
                title: 'L\'abandon',
                description: 'Le début D’UNE LONGUE SÉRIE DE SOUFFRANCES !',
                defaultActive: true,
                url: '/animal/1.html'
            })
            @@include('_carousel-animal.html', {
                odd: true,
                img: '@@webRoot/assets/img/2.png',
                title: 'La faim',
                url: '/animal/2.html'
            })
            @@include('_carousel-animal.html', {
                odd: false,
                img: '@@webRoot/assets/img/3.png',
                title: 'La violence',
                url: '/animal/3.html'
            })
            @@include('_carousel-animal.html', {
                odd: true,
                img: '@@webRoot/assets/img/4.png',
                title: 'Les dangers',
                url: '/animal/4.html'
            })
            @@include('_carousel-animal.html', {
                odd: false,
                img: '@@webRoot/assets/img/5.png',
                title: 'La peur',
                url: '/animal/5.html'
            })
        </div>
    </div>
</header>

<header class="header mobile d-md-none d-block">
    <div class="my-container container">

        <div class="carousel-mobile">
            <div class="carousel-mobile-item 1 active">
                @@include('_carousel-animal.html', {
                    odd: false,
                    img: '@@webRoot/assets/img/1.png',
                    title: 'L\'abandon',
                    description: 'Le début D’UNE LONGUE SÉRIE DE SOUFFRANCES !',
                    url: '',
                    isVideo: true
                })
            </div>
            <div class="carousel-mobile-item 2">
                @@include('_carousel-animal.html', {
                    odd: true,
                    img: '@@webRoot/assets/img/2.png',
                    title: 'La faim',
                    url: '/animal/2.html'
                })
            </div>
            <div class="carousel-mobile-item 3">
                @@include('_carousel-animal.html', {
                    odd: false,
                    img: '@@webRoot/assets/img/3.png',
                    title: 'La violence',
                    url: '/animal/3.html'
                })
            </div>
            <div class="carousel-mobile-item 4">
                @@include('_carousel-animal.html', {
                    odd: true,
                    img: '@@webRoot/assets/img/4.png',
                    title: 'Les dangers',
                    url: '/animal/4.html'
                })
            </div>
            <div class="carousel-mobile-item 5">
                @@include('_carousel-animal.html', {
                    odd: false,
                    img: '@@webRoot/assets/img/5.png',
                    title: 'La peur',
                    url: '/animal/5.html'
                })
            </div>
        </div>
    </div>
</header>
