<header class="header desktop d-none d-md-block">
    <img class="video" src="@@webRoot/assets/img/tmp-header.png"/>
    <div class="my-container container">
        <div class="carousel-animals">
            @@include('_carousel-animal.html', {
                odd: false,
                img: '@@webRoot/assets/img/carousel-animal-1.png',
                title: 'L\'abandon',
                description: 'Le début D’UNE LONGUE SÉRIE DE SOUFFRANCES !',
                defaultActive: true,
                url: '/animal/1.html'
            })
            @@include('_carousel-animal.html', {
                odd: true,
                img: '@@webRoot/assets/img/carousel-animal-1.png',
                title: 'Vanille',
                url: '/animal/2.html'
            })
            @@include('_carousel-animal.html', {
                odd: false,
                img: '@@webRoot/assets/img/carousel-animal-3.png',
                title: 'Rose',
                url: '/animal/3.html'
            })
            @@include('_carousel-animal.html', {
                odd: true,
                img: '@@webRoot/assets/img/carousel-animal-4.png',
                title: 'Stella',
                url: '/animal/4.html'
            })
            @@include('_carousel-animal.html', {
                odd: false,
                img: '@@webRoot/assets/img/carousel-animal-1.png',
                title: 'Octavia',
                url: '/animal/5.html'
            })
        </div>
    </div>
</header>

<header class="header mobile d-md-none d-block">
    <div class="my-container container">

    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper carousel-animals">
            <div class="swiper-slide" style="width: 100%">
                @@include('_carousel-animal.html', {
                    odd: false,
                    img: '@@webRoot/assets/img/carousel-animal-1.png',
                    title: 'L\'abandon',
                    description: 'Le début D’UNE LONGUE SÉRIE DE SOUFFRANCES !',
                    defaultActive: true,
                    url: '/animal/1.html'
                })
            </div>
            <div class="swiper-slide" style="width: 100%">
                @@include('_carousel-animal.html', {
                    odd: true,
                    img: '@@webRoot/assets/img/carousel-animal-1.png',
                    title: 'Vanille',
                    url: '/animal/2.html'
                })
            </div>
            <div class="swiper-slide" style="width: 100%">
                @@include('_carousel-animal.html', {
                    odd: false,
                    img: '@@webRoot/assets/img/carousel-animal-3.png',
                    title: 'Rose',
                    url: '/animal/3.html'
                })
            </div>
            <div class="swiper-slide" style="width: 100%">
                @@include('_carousel-animal.html', {
                    odd: true,
                    img: '@@webRoot/assets/img/carousel-animal-4.png',
                    title: 'Stella',
                    url: '/animal/4.html'
                })
            </div>
            <div class="swiper-slide" style="width: 100%">
                @@include('_carousel-animal.html', {
                    odd: false,
                    img: '@@webRoot/assets/img/carousel-animal-1.png',
                    title: 'Octavia',
                    url: '/animal/5.html'
                })
            </div>
        </div>
         <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</header>