<!-- Modal -->
<div
	class="modal fade"
	id="modal-video"
	tabindex="-1"
	role="dialog"
	aria-labelledby="modal-video-label"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<iframe
					wwidth="560"
					height="265"
                    src="https://www.youtube.com/embed/qlPs0i_lSZA"
                    default-src="https://www.youtube.com/embed/qlPs0i_lSZA"
                    autoplay-src="https://www.youtube.com/embed/qlPs0i_lSZA?autoplay=1"
					frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    class="iframeYoutube"
				></iframe>
			</div>
		</div>
	</div>
</div>
