<nav class="nav desktop">
	<div class="my-container">
		<div class="logo">
			<a href="https://www.la-spa.fr/" target="_blank"><img class="" src="@@webRoot/assets/img/nav-logo.png" /></a>
		</div>
		<div class="links mr-auto d-none d-md-flex">
			@@if (context.skip == true) {
				<!-- NAVIGATION ACCUEIL AVEC PANNEAUX -->
			<a href="#" class="btn-skip js-hint">
				<img src="@@webRoot/assets/img/btn-skip.svg" />
				<span class="hint-text">Accéder directement<br/>au site</span>
			</a>
			<a href="/" class="btn-nav d-none btn-review js-hint">
				<img src="@@webRoot/assets/img/btn-review.svg" />
				<span class="hint-text">Revoir<br/>la&nbsp;vidéo</span>
			</a>
			<a href="/equivalence/don.html" class="btn-nav d-none btn-review js-hint">
				<img class="zoomOnHover" src="@@webRoot/assets/img/btn-don.svg" />
				<span class="hint-text">Votre<br/>soutien</span>
			</a>
			} @@if (context.skip != true) {
				<!-- NAVIGATION PAGE ANIMAL -->
			<a href="/" class="btn-nav btn-review js-hint">
				<img src="@@webRoot/assets/img/btn-review.svg" />
				<span class="hint-text">Revoir<br/>la&nbsp;vidéo</span>
			</a>
			<a href="/equivalence/don.html" class="btn-nav btn-review js-hint">
				<img class="zoomOnHover" src="@@webRoot/assets/img/btn-don.svg" />
				<span class="hint-text">Votre<br/>soutien</span>
			</a>
			<a href="/?skip_video=true" class="btn-nav btn-back js-hint">
				<img src="@@webRoot/assets/img/btn-back.svg" />
				<span class="hint-text">Retour</span>
			</a>
			}
		</div>
		<div class="links d-flex d-md-none mr-auto">
			<a href="#" class="js-toggle mr-2" data-target="#moreNav"><img class="zoomOnHover" src="@@webRoot/assets/img/3dots.svg" /></a>
			<a target="_blank" class="mr-1" href="whatsapp://send?text=https://contrelabandon.la-spa.fr"><img class="zoomOnHover" src="@@webRoot/assets/img/whatsapp.svg" /></a>
			<a target="_blank" class="mr-1" href="https://www.facebook.com/sharer.php?u=https://contrelabandon.la-spa.fr"><img class="zoomOnHover" src="@@webRoot/assets/img/facebook.svg" /></a>
			<a target="_blank" href="https://twitter.com/share?url=https://contrelabandon.la-spa.fr"><img class="zoomOnHover" src="@@webRoot/assets/img/twitter.svg" /></a>
		</div>
		<div id="moreNav">
			<div class="link">
				<a target="_blank" href="https://donateur.la-spa.fr/">Espace personnel</a>
				<a target="_blank" href="https://www.la-spa.fr/mentions-legales" class="orange">Mentions légales</a>
				<a target="_blank" href="https://www.la-spa.fr/aide-contact/contactez-nous">Contact</a>
			</div>
		</div>
		<div class="d-none d-md-block">
			@@include('_button-don.html', { href: 'https://soutenir.la-spa.fr/' })
		</div>
		<div class="d-block d-md-none">
			@@include('_button-don.html', { href: 'https://soutenir.la-spa.fr/', text: 'Je donne' })
		</div>
	</div>
</nav>
